.nav-grid {
    grid-auto-flow: column;
    width: 50%;
}

nav {
    width: 100%;
    background: var(--light);
    transition: 1000ms cubic-bezier( 0.23, 1, 0.32, 1 );
}

nav a {
    pointer-events: auto;
}

nav:has(a:hover) {
    /*you may replace this with an explicit className, e.g. :has(.child1)*/
    background: var(--accent);
}

.nav-item:hover {
    color: var(--light);
}