body,
html {
    height: 100%;
}

.hero-container {
    min-height: 100%;
}

.bgimg {
    background: linear-gradient(90deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 35%, rgba(0,0,0,0) 45%), url('../images/image-title.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gradient-left {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.75) 35%, rgba(0,0,0,0) 45%); 
}